@import "tailwindcss";

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.etiqueta-pequena {
  & .etiqueta-logo {
    height: 24px;
    margin: 0;
  }

  & .etiqueta-nombre {
    font-size: 12px;
    margin: 0;
  }

  & .etiqueta-presentacion {
    font-size: 10px;
    margin: 0;
  }

  & .etiqueta-precio {
    font-size: 14px;
    margin: 0;
  }
}

.etiqueta-grande {
  & .etiqueta-logo {
    height: 24px;
    margin: 0;
  }

  & .etiqueta-nombre {
    font-size: 12px;
    margin: 0;
  }

  & .etiqueta-presentacion {
    font-size: 10px;
    margin: 0;
  }

  & .etiqueta-precio {
    font-size: 14px;
    margin: 0;
  }
}

body::-webkit-menu-bar {
  display: none !important;
}

@font-face {
  font-family: "BarCode";
  src: url("./fonts/codeEAN13.ttf") format("truetype");
}

.barcode {
  font-family: "BarCode", sans-serif;
  font-size: 16px;

  & i {
    display: none;
  }
}
